.card {
  min-height: 360px;
}
.order-id {
  color: #087cbf;
  font-weight: 600;
}
.amount {
  font-weight: 600;
}
.item-count {
  background: #f0f5fa;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 11px;
}
